<header class="center-text">
    <h5>点击组件名称直接预览效果</h5>
</header>
<div>
    <div class="demo noborder plr40">
        <table id="showcase" class="table table-space" bx-name="showcase" bx-path="components/showcase/" bx-config="{eltag: 'td',place: '#place',transition : true,transtype : '', mod: 'S',goback : '#goback'}">
            <tr>
                <td  path="views/smallcases/calendar.html">日历 Calendar<a href="#!gallery/calendar" class="api">API</a></td>
                <td path="views/smallcases/table.html">表格 Tables<a href="#!gallery/table" class="api">API</a></td>
                <td path="views/smallcases/pagination.html">分页 Pagination<a href="#!gallery/pagination" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/dropdown.html">下拉菜单 Dropdown<a href="#!gallery/dropdown" class="api">API</a></td>
                <td path="views/smallcases/datepicker.html">日期选择 DatePicker<a href="#!gallery/datepicker" class="api">API</a></td>
                <td path="views/smallcases/charts.html">图表 Charts<a href="#!gallery/charts" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/dialog.html">对话框 Dialog<a href="#!gallery/dialog" class="api">API</a></td>
                <td path="views/smallcases/tips.html">提示组件 Tips<a href="#!gallery/tips" class="api">API</a></td>
                <td path="views/smallcases/kwicks.html">推拉门 Kwicks<a href="#!gallery/kwicks" class="api">API</a></td> 
            </tr>
            <tr>
                <td path="views/smallcases/searchbox.html">搜索框 SearchBox<a href="#!gallery/searchbox" class="api">API</a></td>
                <td path="views/smallcases/lavalamp.html">滑动菜单 Lavalamp<a href="#!gallery/lavalamp" class="api">API</a></td>
                <td path="views/smallcases/sidenav.html">树形菜单 SideNav<a href="#!gallery/sidenav" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/breadcrumbs.html">面包屑 Breadcrumbs<a href="#!gallery/breadcrumbs" class="api">API</a></td>
                <td path="views/smallcases/colorpicker.html">色彩选择 ColorPicker<a href="#!gallery/colorpicker" class="api">API</a></td>
                <td path="views/smallcases/starrating.html">打分组件 StarRating<a href="#!gallery/starrating" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/switcher.html">开关组件 Switcher<a href="#!gallery/switcher" class="api">API</a></td>
                <td path="views/smallcases/timer.html">计时器 Timer<a href="#!gallery/timer" class="api">API</a></td>
                <td path="views/smallcases/flowsteps.html">步骤条 Flowsteps<a href="#!gallery/flowsteps" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/slider.html">滑块 Slider<a href="#!gallery/slider" class="api">API</a></td>
                <td path="views/smallcases/inplaceeditor.html">就地编辑 InplaceEditor<a href="#!gallery/inplaceeditor" class="api">API</a></td>
                <td path="views/smallcases/loading.html">加载动画 Loading<a href="#!gallery/loading" class="api">API</a></td>
            </tr>
            <tr>
                <td path="views/smallcases/msgbox.html">信息框 Msgbox<a href="#!gallery/msgbox" class="api">API</a></td>
                <td path="views/smallcases/footer.html">页尾 Footer<a href="#!gallery/footer" class="api">API</a></td>
                <td></td>
            </tr>
        </table>
        <div id="place" style="width:740px;height:100%;">
        </div>
        <a id="goback"><i class="icon-backward"></i>&nbsp;返回</a>
    </div>
</div>