<header class="center-text">
    <h5>点击组件名称直接预览效果</h5>
</header>
<div>
    <div class="demo noborder">
        <table id="showcase" class="table-space font-Arch" bx-name="showcase" bx-path="components/showcase/" bx-config="{eltag: 'a',place: '#place',transition : true,transtype : '', mod: 'S',goback : '#goback'}">
            <tr>
                <td><a path="/views/minicase/calendar.html">日历 Calendar</a><a href="#!gallery/calendar" class="api">API</a></td>
                <td><a path="/views/minicase/table.html">表格 Tables</a><a href="#!gallery/table" class="api">API</a></td>
                <td><a path="/views/minicase/pagination.html">分页 Pagination</a><a href="#!gallery/pagination" class="api">API</a></td>
                <td><a path="views/minicase/dropdown.html">下拉菜单 Dropdown</a><a href="#!gallery/dropdown" class="api">API</a></td>
            </tr>
            <tr>
                <td><a path="views/minicase/datepicker.html">日期选择 DatePicker</a><a href="#!gallery/datepicker" class="api">API</a></td>
                <td><a path="views/minicase/charts.html">图表 Charts</a><a href="#!gallery/charts" class="api">API</a></td>
                <td><a path="views/minicase/dialog.html">对话框 Dialog</a><a href="#!gallery/dialog" class="api">API</a></td>
                <td><a path="views/minicase/tooltip.html">提示组件 ToolTip</a><a href="#!gallery/tooltip" class="api">API</a></td>
            </tr>
            <tr>  
                <td><a path="views/minicase/kwicks.html">轮播组件 Kwicks</a><a href="#!gallery/kwicks" class="api">API</a></td> 
                <td><a path="views/minicase/lavalamp.html">滑动菜单 Lavalamp</a><a href="#!gallery/lavalamp" class="api">API</a></td>
                <td><a path="views/minicase/sidenav.html">树形菜单 SideNav</a><a href="#!gallery/sidenav" class="api">API</a></td>
                <td><a path="views/minicase/breadcrumbs.html">面包屑 Breadcrumbs</a><a href="#!gallery/breadcrumbs" class="api">API</a></td>
            </tr>
            <tr>
                <td><a path="views/minicase/colorpicker.html">色彩选择 ColorPicker</a><a href="#!gallery/colorpicker" class="api">API</a></td>
                <td><a path="views/minicase/starrating.html">打分组件 StarRating</a><a href="#!gallery/starrating" class="api">API</a></td>
                <td><a path="views/minicase/switcher.html">开关组件 Switcher</a><a href="#!gallery/switcher" class="api">API</a></td>
                <td><a path="views/minicase/timer.html">计时器 Timer</a><a href="#!gallery/timer" class="api">API</a></td>
            </tr>
            <tr>
                <td><a path="views/minicase/flowsteps.html">步骤条 Flowsteps</a><a href="#!gallery/flowsteps" class="api">API</a></td>
                <td><a path="views/minicase/slider.html">滑块 Slider</a><a href="#!gallery/slider" class="api">API</a></td>
                <td><a path="views/minicase/inplaceeditor.html">就地编辑 InplaceEditor</a><a href="#!gallery/inplaceeditor" class="api">API</a></td>
                <td><a path="views/minicase/loading.html">加载 Loading</a><a href="#!gallery/loading" class="api">API</a></td>
            </tr>
            <tr>
                <td><a path="views/minicase/msgbox.html">信息框 Msgbox</a><a href="#!gallery/msgbox" class="api">API</a></td>
                <td><a path="views/minicase/footer.html">页尾 Footer</a><a href="#!gallery/footer" class="api">API</a></td>
            </tr>
        </table>
        <div id="place" style="width:796px;">
            <iframe id="demoiframe" frameborder="0" scrolling="no" src=""></iframe>
        </div>
        <a id="goback" class="font-Arch"><i class="iconfont">&#403;</i>&nbsp;返回</a>
    </div>
</div>