<header class="center-text">
    <h5>基础业务组件，点击直接预览效果</h5>
</header>
<div>
    <div class="demo noborder plr40">
        <table id="showcase" class="table">
            <tr>
                <td><a href="#!components/calendar">日历 CalendarAPI</a></td>
                <td><a href="#!components/table">表格 Tables</a></td>
                <td><a href="#!components/pagination">分页 Pagination</a></td>
                <td><a href="#!components/dropdown">下拉菜单 Dropdown</a></td>
            </tr>
            <tr>
                <td><a href="#!components/datepicker">日期选择 DatePicker</a></td>
                <td><a href="#!components/charts">图表 Charts</a></td>
                <td><a href="#!components/dialog">对话框 Dialog</a></td>
                <td><a href="#!components/tips">提示组件 Tips</a></td>
            </tr>
            <tr>
                <td>推拉门 Kwicks</td>
                <td>搜索框 SearchBox</td>
                <td>滑动菜单 Lavalamp</td>
                <td>树形菜单 SideNav</td>
            </tr>
            <tr>
                <td>面包屑 Breadcrumbs</td>
                <td>色彩选择 ColorPicker</td>
                <td>打分组件 StarRating</td>
                <td>开关组件 Switcher</td>
            </tr>
            <tr>
                <td path="views/smallcases/timer.html">计时器 Timer<a class="api" href="">API</a></td>
                <td>步骤条 Flowsteps</td>
                <td>滑块 Slider</td>
                <td>就地编辑 InplaceEditor</td>
            </tr>
            <tr>
                <td>加载动画 Loading</td>
                <td>信息框 Msgbox</td>
                <td>页尾 Footer</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>