<input id="J_PopupAlign" type="text" placeholder="点这里，点这里" class="w185"/>
<script type="text/javascript">   
KISSY.ready(function(S){
    KISSY.use('brix/gallery/calendar/,brix/gallery/calendar/index-min.css', function(S, Calendar){
        var S_Date = Calendar.Date;
        var temp = new Calendar( {
            trigger:'#J_PopupAlign',
            align:{
                points:['bl','tl'],
                offset:[0,0]
            },
            popup:true,
            triggerType:['click'],
            closable:true
        }).on('select', function(e) {
            S.one('#J_PopupAlign').val(S_Date.format(e.date, 'localFullDate'));
        });
        window.GALLERY.push(temp);
    });
});
</script>