<div style="width:200px;text-align:left;" class="dropdown" id="dropdown">
    <span class="dropdown-hd dropdown-hd-active">
        <span class="dropdown-text" value="3">计划列表3</span>
    </span>
    <ul class="dropdown-list" style="height:120px">
        <li class="dropdown-item"><span value="1">计划列表</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="2">计划列表2</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item dropdown-itemselected "><span value="3">计划列表3</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="4">计划列表4</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="2">计划列表2</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="3">计划列表3</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="4">计划列表4</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="2">计划列表2</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="3">计划列表3</span><i class="iconfont icon-ok">&#126</i></li>
        <li class="dropdown-item"><span value="4">计划列表4</span><i class="iconfont icon-ok">&#126</i></li>
    </ul>
</div>
<script type="text/javascript">
    KISSY.ready(function(S){
        S.use('brix/gallery/dropdown/,brix/gallery/dropdown/index-min.css', function(S, Dropdown){
            var d = new Dropdown({tmpl:'#dropdown'});
            d.on('selected',function(e){
                alert("您选择了==>>" + e.value);
            });
            window.GALLERY.push(d);
        });
    });
</script>